In [22]:
import pandas as pd
import os

In [23]:
iv_catalog = 'data/catalog/iv_symbols.csv'
niv_catalog = 'data/catalog/niv_symbols.csv'

In [24]:
os.getcwd()

'/home/hminaya/Code/visa'

In [25]:
iv = pd.read_csv(iv_catalog, delimiter="|")
iv

,VisaClass,Category,SubCategory,Description
0,IR1,Immediate Relatives,General,Spouse of U.S. citizen 201(b)
1,IR2,Immediate Relatives,General,Child of U.S. citizen 201(b)
2,IR3,Immediate Relatives,General,Orphan adopted abroad by U.S. citizen 201(b)
3,IR4,Immediate Relatives,General,Orphan to be adopted in the United States by U...
4,IR5,Immediate Relatives,General,Parent of U.S. citizen at least 21 years of ag...
...,...,...,...,...
127,I52,Employment-Based Preferences,Employment 5th Preference (Employment Creation...,Spouse of I51 203(d) & 203(b)(5)
128,I53,Employment-Based Preferences,Employment 5th Preference (Employment Creation...,Child of I51 203(d) & 203(b)(5)
129,DV1,Other Numerically Limited Categories,Diversity Immigrants,Diversity Immigrant 203(c)
130,DV2,Other Numerically Limited Categories,Diversity Immigrants,Spouse of DV1 203(d) & 203(c)
131,DV3,Other Numerically Limited Categories,Diversity Immigrants,Child of DV1 203(d) & 203(c)

In [26]:
niv = pd.read_csv(niv_catalog, delimiter="|")
niv

   VisaClass                                        Description
0        A-1  Ambassador, public minister, career diplomat o...
1        A-2  Other foreign government official or employee,...
2        A-3  Attendant, servant, or personal employee of A1...
3        B-1       Temporary visitor for business 101(a)(15)(B)
4    B-1/B-2  Temporary visitor for business & pleasure 101(...
..       ...                                                ...
76       U-1  Victim of criminal activity INA 101(a)(15)(U)(i).
77       U-2                    Spouse of U-1 101(a)(15)(U)(ii)
78       U-3                     Child of U-1 101(a)(15)(U)(ii)
79       U-4  Parent of U-1 under 21 years of age 101(a)(15)...
80       U-5  Unmarried sibling under age 18 of U-1 under 21...

[81 rows x 2 columns]