In [17]:
import pandas as pd

In [18]:

fl = '/home/hminaya/Code/visa/data/processed/November 2018 - IV Issuances by Post and Visa Class.csv'

iv = pd.read_csv(
    fl,
    delimiter=',', 
    header=None,
    names=['Post', 'VisaClass', 'Quantity']
    )

In [19]:
iv.iloc[40:50]

          Post VisaClass  Quantity
40   dhabi abu       sq2         1
41       accra       cr1        49
42       accra       cr2         3
43       accra       dv1        23
44       accra       dv2         7
45       accra       dv3         5
46       accra       e31        10
47       accra       e34         8
48       accra       e35        14
49       accra       f11        25

In [20]:
iv['VisaType'] = 'IV'
iv['Year'] = 2018
iv['Month'] = 'November'

In [21]:
iv

          Post VisaClass  Quantity VisaType  Year     Month
0      abidjan       cr1         7       IV  2018  November
1      abidjan       dv1         1       IV  2018  November
2      abidjan       f11         2       IV  2018  November
3      abidjan       f21         1       IV  2018  November
4      abidjan       f22         3       IV  2018  November
...        ...       ...       ...      ...   ...       ...
2369   yerevan       ir5        24       IV  2018  November
2370   yerevan       sb1         1       IV  2018  November
2371    zagreb       dv1         1       IV  2018  November
2372    zagreb       ir1         1       IV  2018  November
2373    zagreb       ir5         3       IV  2018  November

[2374 rows x 6 columns]

In [22]:
iv.iloc[1768:1778]

                Post VisaClass  Quantity VisaType  Year     Month
1768      penh phnom       sr1         1       IV  2018  November
1769   spain of port       cr1         3       IV  2018  November
1770   spain of port       e31         5       IV  2018  November
1771   spain of port       e34         3       IV  2018  November
1772   spain of port       e35         5       IV  2018  November
1773   spain of port       f11         3       IV  2018  November
1774   spain of port       f12         1       IV  2018  November
1775   spain of port       f22         2       IV  2018  November
1776   spain of port       f24         3       IV  2018  November
1777   spain of port       f25         1       IV  2018  November

In [23]:
iv.to_csv('/home/hminaya/Code/visa/data/temp/tmp.csv', index=False)

In [24]:
iv.VisaClass.str.strip().unique()

array(['cr1', 'dv1', 'f11', 'f21', 'f22', 'f24', 'fx1', 'fx2', 'ir1',
       'ir2', 'ir5', 'sb1', 'se1', 'se2', 'cr2', 'dv2', 'dv3', 'e22',
       'e23', 'e31', 'e34', 'e35', 'f12', 'f31', 'f32', 'f33', 'f41',
       'f42', 'f43', 'fx3', 'sq2', 'f23', 'f25', 'ib2', 'ib3', 'iw1',
       'e21', 'se3', 'e32', 'i51', 'i52', 'i53', 't51', 't52', 'ir4',
       'e14', 'sq1', 'sq3', 'ib1', 'ew3', 'ew4', 'ew5', 'ih3', 'ih4',
       'e11', 'ir3', 'e15', 'sd1', 'iw2', 'bx1', 'su3', 'c51', 'c52',
       'c53', 'e13', 't53', 'am1', 'am2', 'si1', 'si2', 'si3', 'sr1',
       'sr2', 'sr3', 'sd2', 'sd3', 'bc1'], dtype=object)